body
{
  background-color: wheat;
}
header 
{ 
  /* height: 50px; */
  line-height: 2;
  background-color:black;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
  font-weight: 600;
}
.menu
{
  float: right;
  padding-top: 10px;
}
.header li
{
  display: inline;
  
}
.header li a 
{
  color: wheat;
  padding-right: 50px;
  font-size: 20;
  text-decoration: none;
}
.header li a:hover
{
  color: peru;
}
.header li a:focus
{
  color: peru;
  text-decoration: underline;
}
.header li a:active
{
  color: black;
  text-decoration: underline;
}
.myphoto
{
   text-align: center;
   padding-top: 120px;
   padding-bottom: 70px;
}
.myimage
{
  width: 300px;
  border-radius: 50%;
}
hr 
{
  width: 25%;
  border: 0 none;
  height: 1px;
  margin-left: auto;
  margin-right: auto; 
  background-color: black;
}

.sections
{
    padding: 70px;
    margin: 20px 0;
    text-align: center;
}

.container
{
  max-width: 1200px;
  display: flex;
  justify-content: space-around;
  position: relative;
}
.card{
  background: black;
  
}
.row
{
  justify-content: center;
  color: wheat;
  padding-top:20px;
}
.card-block
{
  padding:10px; 
}
.col-sm-4
{
  background: black;
  color: wheat;
  padding:20px;
}
.form-control
{
  background: wheat;
}
.btn
{
  text-align: center;
}
footer
{
  
  line-height: 1.85;
  background-color: black;
  width: 100%;
  float: right;
  text-align: center; 
  padding-top: 5px;
}
.footer li
{
  display: inline; 
  
}
.footer li a
{
  color: wheat;
  padding:20px;
  text-decoration: none;
   
}

